<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @article.contenu %>
</p>

<p>
  <strong>Pdate:</strong>
  <%= @article.pdate %>
</p>
<% if user_signed_in?%>
<% if current_user==@article.user%>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
<%end%>
<%= render "comments/form", art_id:@article.id%>
<%end%>
<%= render 'show', comments:@article.comments %>
