<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @article.name %>
</p>

<p>
<strong>Contenu:</strong>
<%= @article.contenu %>
</p>

<p>
<strong>Pdate:</strong>
<%= @article.pdate %>
</p>
<% if user_signed_in?%>
	<% if current_user==@article.user%>
		<%= link_to 'Edit', edit_article_path(@article) %> |
		<%= link_to 'Back', articles_path %>
	<%end%>
	<%= link_to 'new comment', new_article_comment_path(article_id:@article.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
	<div id="modal-window" class="modal hidden fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
	<% render "comments/form", art_id:@article.id%>
<%end%>
<%= render 'show', comments:@article.comments %>

