<!DOCTYPE html>
<html>
	<head>
		<title>Tuto</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<body>
			<%= render "layouts/TopMenu"%>
			<br>
			<% flash.each do |messg| %>
				<div class="notice"><%= messg[1] %></div>
			<%end%>
			<%= yield %>
		</body>
</html>
